.wallet-adapter-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.wallet-adapter-button-trigger {
  background-color: transparent;
}

.wallet-adapter-button:not([disabled]):focus-visible {
  outline-color: none;
}

.wallet-adapter-button:not([disabled]):hover {
  background-color: transparent;
  opacity: 50%;
}
